@model Group11.Controllers.FriendsViewModel


@{
    ViewBag.Title = "My Friends";
}

<h3>My Friends</h3>

@if (Model != null)
{
    foreach (var item in Model.listOfMyFriends)
    {
        <ul>
            <li>
                <div>@Html.ActionLink(item.Nickname, "OtherUser", "Account", new { nick = item.Nickname }, null)</div>
            </li>
        </ul>
        

    }
}