@model Group11.Models.ApplicationUser

    @{ 
    ViewBag.Title = "Profile";
}


<h3>Your profile page</h3>
<div>
    
    <img src="@Url.Action("UserPhotos", "Account")" style="width:200px;height:200px; background: #FFFFFF;
    margin: auto;
    padding: 6px;" />
</div>

<div>@Html.ActionLink("Edit profile picture", "EditProfilePicture", "Account")</div>
<div>@Html.ActionLink("Friends", "Friends", "Account", new { id = Model.Id }, null)</div>
<div>@Html.DisplayFor(model => model.Information)</div>






