@model Group11.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Startpage";
}
<h2>Welcome to our page, a website for teddy bears</h2>
<h4>Sign up now and meet teddy bears like you!</h4>
<p>Some of our users</p>
<div>
    @Html.ActionLink("Steve", "OtherUser", "Account", new { nick = "Steve" }, null)<br />

    @Html.ActionLink("Paddington", "OtherUser", "Account", new { nick = "Paddington" }, null)<br />

    @Html.ActionLink("Daisy", "OtherUser", "Account", new { nick = "Daisy" }, null)
</div>